[Unit]
Description=Rainmaker
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/rainmaker/rainmaker.py

[Install]
WantedBy=multi-user.target
